$def with (player)
<div class = "container">
    <p>
    Greetings, $player.name
    You find yourself standing at the start of a winding road leading to a castle.
    You heard from an old man in a tavern that there's treasure inside.
    He gave you a map that lays out the interior of the castle, including the treasure room.
    Type inventory at any time to see your inventory, or map to see the map.
    Old men generally tend to be trustworthy in these sorts of stories.
    You decide to walk up the road.  As you approach the castle
    the doors swing open on their own.  Not creepy at all...
    You hesitantly walk inside.
    </p>
</div>